.container {
  position: fixed;
  bottom: 0;

  ul {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      font-family: var(--font-mono);

      &:hover {
        color: var(--color-secondary);
      }

      &:last-of-type {
        margin-bottom: 2rem;
      }

      a {
        padding: 1rem;
        display: inline-block;
        transition: var(--transition);

        &:hover {
          transform: translateY(-0.5rem);
        }
      }
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 12rem;
      background-color: var(--color-text);
    }
  }
}

.left {
  left: var(--spacing-lg);
}

.right {
  right: var(--spacing-lg);
}
