.container {
  padding: var(--spacing-sm) var(--spacing-xl);
  box-shadow: 0 10px 30px -10px var(--color-primary-dark);
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
}

.content {
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: var(--color-text-lightest);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
