.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 5rem;
}

ul.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(8rem, 16rem));
  grid-gap: 0 1.5rem;
  margin-top: 1.5rem;

  li {
    font-family: var(--font-mono);
    font-size: var(--font-size-sm);
    position: relative;
    margin-bottom: 1rem;
    padding-left: 1.5rem;

    &:before {
      content: '▹';
      color: var(--color-secondary);
      font-size: var(--font-size-sm);
      position: absolute;
      left: 0;
    }
  }
}
