@import './reset.css';
@import './fonts.css';
@import './variables.css';

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: 2rem;
}

section {
  max-width: 100rem;
  margin: 0 auto;
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4rem;

  font-size: clamp(2.5rem, 5vw, 3rem);
  color: var(--color-text-light);
  white-space: nowrap;

  &::before {
    position: relative;
    bottom: 0.5rem;
    counter-increment: section 1;
    content: '0' counter(section) '.';
    margin-right: 1rem;
    color: var(--color-secondary);
    font-family: var(--font-mono);
    font-size: 0.8em;
    font-weight: 400;
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    top: -0.5rem;
    width: 30rem;
    margin-left: 2rem;
    height: 1px;
    background-color: var(--color-text);
  }
}
