*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
