.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 2px;

  height: 4rem;
  background: var(--color-secondary);

  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.1s;
}
