.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.title {
  font-size: clamp(var(--font-size-md), 5vw, var(--font-size-xl));
  color: var(--color-text-light);
  margin-bottom: var(--spacing-lg);

  &.centered {
    text-align: center;
  }
}

.heading {
  font-size: clamp(4rem, 5vw, 6rem);
}

.overline {
  color: var(--color-secondary);
  font-family: var(--font-mono);
  font-size: clamp(var(--font-size-sm), 5vw, 1.6rem);
  font-weight: 400;
  text-align: center;
}

.numbered {
  &::before {
    content: '0' counter(section) '.';
    counter-increment: section;
    color: var(--color-secondary);
    font-family: var(--font-mono);
    margin-right: var(--spacing-sm);
    font-size: 0.8em;
    font-weight: 400;
  }
}
