ol.container {
  display: flex;
  align-items: center;

  .resume {
    padding: 0.75rem 1rem;
  }

  li {
    margin: 0px 5px;
    counter-increment: item 1;
    font-size: var(--font-size-sm);

    transition: var(--transition);

    &:hover {
      color: var(--color-secondary);
    }

    &:last-child > a {
      padding-right: 0;
    }

    a {
      padding: 10px;

      &::before {
        color: var(--color-secondary);
        content: '0' counter(item) '.';
        margin-right: 0.375rem;
      }
    }
  }
}
