@import "theme/variables.less";

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-size: @font-size-xs;
  font-family: @font-mono;
  border-radius: @border-radius;
  border: 1px solid @color-accent;
  transition: @transition-all;
  color: @color-accent;
  background-color: transparent;
  padding: 1.25rem 1.75rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-accent-tint;
    outline: none;
  }
  &:after {
    display: none !important;
  }
}

.boxShadow {
  box-shadow: 0 10px 30px -15px @color-primary-shadow;
  transition: @transition-all;

  &:hover,
  &:focus {
    box-shadow: 0 20px 30px -15px @color-primary-shadow;
  }
}

.numberedHeading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, @font-size-heading);
  white-space: nowrap;

  &:before {
    position: relative;
    bottom: 4px;
    counter-increment: section;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: @color-accent;
    font-family: @font-mono;
    font-size: clamp(@font-size-md, 3vw, @font-size-xl);
    font-weight: 400;

    @media (max-width: 480px) {
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }

  &:after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: @color-primary-lighten;

    @media (max-width: 1080px) {
      width: 200px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      margin-left: 10px;
    }
  }
}
