@import "theme/variables.less";

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-size: @font-size-xs;
  font-family: @font-mono;
  border-radius: @border-radius;
  border: 1px solid @color-accent;
  transition: @transition-all;
  color: @color-accent;
  background-color: transparent;
  padding: 1.25rem 1.75rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-accent-tint;
    outline: none;
  }
  &:after {
    display: none !important;
  }
}

.boxShadow {
  box-shadow: 0 10px 30px -15px @color-primary-shadow;
  transition: @transition-all;

  &:hover,
  &:focus {
    box-shadow: 0 20px 30px -15px @color-primary-shadow;
  }
}
