@import "fonts/fonts.less";

@border-radius: 4px;

/* --------------------- TRANSITIONS --------------------- */
@transition-all: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
@transition-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

/* --------------------- FONTS --------------------- */
@font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;
@font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
@font-size-xxs: 12px;
@font-size-xs: 13px;
@font-size-sm: 14px;
@font-size-md: 16px;
@font-size-lg: 18px;
@font-size-xl: 20px;
@font-size-xxl: 22px;
@font-size-heading: 32px;

/* --------------------- COLORS --------------------- */
@color-primary: #0a192f;
@color-secondary: #8892b0;
@color-accent: #64ffda;
@color-white: #e6f1ff;
@color-primary-dark: darken(@color-primary, 5%);
@color-primary-light: lighten(@color-primary, 5%);
@color-primary-lighten: lighten(@color-primary, 10%);
@color-primary-shadow: darken(@color-primary, 30%);
@color-secondary-dark: darken(@color-secondary, 5%);
@color-secondary-light: lighten(@color-secondary, 5%);
@color-secondary-lighten: lighten(@color-secondary, 20%);
@color-accent-tint: fade(@color-accent, 10%);
