@import "theme/mixins.less";

.about {
  max-width: 900px;

  div.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.skillList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: @font-mono;
    font-size: @font-size-xs;

    &:before {
      content: "▹";
      position: absolute;
      left: 0;
      color: @color-accent;
      font-size: @font-size-sm;
      line-height: 12px;
    }
  }
}

.heading {
  .numberedHeading();
}

.myPicture {
  position: relative;
  max-width: 300px;

  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    border-radius: @border-radius;
    background-color: @color-accent;

    &:hover,
    &:focus {
      background: transparent;
      outline: 0;

      &:after {
        top: 15px;
        left: 15px;
      }

      .img {
        filter: none;
        mix-blend-mode: normal;
      }
    }

    .img {
      position: relative;
      border-radius: @border-radius;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1);
      transition: @transition-all;
      width: 100%;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: @border-radius;
      transition: @transition-all;
    }

    &:before {
      top: 0;
      left: 0;
      background-color: @color-primary;
      mix-blend-mode: screen;
    }

    &:after {
      border: 2px solid @color-accent;
      top: 20px;
      left: 20px;
      z-index: -1;
    }
  }

  @media (max-width: 768px) {
    margin: 50px auto 0;
    width: 70%;
  }
}
