.button {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: transparent;

  font-family: var(--font-mono);
  font-size: inherit;

  transition: var(--transition);

  padding: 1.25rem 1.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0.3rem 0.3rem 0 0 var(--color-secondary);
    transform: translate(-0.3rem, -0.3rem);
  }
}
