ol.container {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }

  .resume {
    padding: 0.5rem var(--spacing-sm);
  }

  li {
    margin: 0 0.5rem;
    counter-increment: item 1;
    transition: var(--transition);

    &:hover {
      color: var(--color-secondary);
    }

    &:last-child > a {
      padding-right: 0;
    }

    a {
      padding: var(--spacing-sm);

      &::before {
        color: var(--color-secondary);
        content: '0' counter(item) '.';
        margin-right: 0.5rem;
      }
    }
  }
}
