.container {
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
}

.content {
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: var(--lightest-slate);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
