.container {
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
}

.content {
  display: flex;
  justify-content: space-between;
}

.logo {
  > a {
    color: var(--secondary);
    width: 48px;
  }
}

.links {
  display: flex;
}
