:root {
  --color-primary: #0a192f;
  --color-secondary: #64ffda;

  --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 10));

  --color-text: hsl(from var(--color-primary) h 25% 70%);
  --color-text-light: hsl(from var(--color-text) h s calc(l + 10));
  --color-text-lightest: hsl(from var(--color-text) h s calc(l + 20));

  /* 
    ----------------
  */
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
}
