@font-face {
  font-family: 'Calibre';
  src: url('../../../public/fonts/Calibre/Calibre-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('../../../public/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --font-sans: 'Calibre', sans-serif;
  --font-mono: 'SF Mono', monospace;

  /* --fz-xxs: 12px; */
  --fz-xs: 13px;
  /* --fz-sm: 14px; */
  /* --fz-md: 16px; */
  /* --fz-lg: 18px; */
  /* --fz-xl: 20px; */
  /* --fz-xxl: 22px; */
  /* --fz-heading: 32px; */
}
