@font-face {
  font-family: 'Calibre';
  src: url('../../../public/fonts/Calibre/Calibre-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('../../../public/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --font-sans: 'Calibre', sans-serif;
  --font-mono: 'SF Mono', monospace;

  --font-size: 20px;
  --font-size-sm: 0.75rem;
  --font-size-md: 1.25rem;
}
