.container {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;

  > li {
    margin: 0px 5px;
    counter-increment: item 1;

    &:last-child > a {
      padding-right: 0;
    }

    > a {
      padding: 10px;

      &::before {
        color: var(--color-secondary);
        content: '0' counter(item) '.';
        margin-right: 0.375rem;
      }
    }
  }
}
