.container {
  display: flex;
  align-items: center;

  > ol {
    display: flex;

    > li {
      margin: 0px 5px;
      counter-increment: item 1;

      > a {
        padding: 10px;

        &::before {
          color: var(--secondary);
          content: '0' counter(item) '.';
          margin-right: 5px;
        }
      }
    }
  }
}
