.container {
  margin-left: var(--spacing-lg);

  @media (max-width: 768px) {
    margin-left: 0;
  }

  h3 {
    font-weight: 500;
    font-size: var(--font-size-lg);
    color: var(--color-text-light);
    margin-bottom: var(--spacing-xs);

    .company {
      color: var(--color-secondary);
    }
  }

  .range {
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
    font-family: var(--font-mono);
    font-size: var(--font-size-sm);
  }

  ul {
    font-size: var(--font-size-md);
    font-weight: 300;
    font-size: 0.8em;

    li {
      position: relative;
      padding-left: 3rem;
      margin-bottom: var(--spacing-sm);
      &:before {
        content: '▹';
        position: absolute;
        left: 0;
        color: var(--color-secondary);
      }
    }
  }
}
